# from https://www.atl.wiki/Niri
[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "%h/sync/Pictures/Wallpapers/celeste/celeste-snowy-nap.png"
Restart=on-failure
