[Unit]
Description=swaybg desktop background
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
EnvironmentFile=%h/.config/swaybg/env
ExecStart=/usr/bin/swaybg $OPTS -i $BG_PATH
Restart=on-failure
