# Don't change these settings, they specify the encrpyion key chezmoi uses
encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1n6hzpdwerrsnu6wpqf2vmt04fn04tcq9dat9wnh2340h6dd3vqqsev0nue"

# System-specific data
[data]
    email = "you@website.com"

    # What system are we running? Fine to leave blank, but set to "laptop", "mathlan" for system-specific config
    system = ""

    # If git_gpg is true, gpg will be used to sign git commits. Make sure to set gpg_signing_key if doing so
    git_gpg = false
    gpg_signing_key = "E8AA37A78E5561F0"
