* {
    border: none;
    min-height: 0;

    /* this will use inconsolata for text, but will fallback to
     * ttf-font-awesome for icons (which is desirable) */
    font-family: "Inconsolata", ttf-font-awesome;

    /* adjust font-size value to your liking: */
    font-size: 12px;

}

window#waybar {
    background-color: #181818;
}

/* style workspaces to set colors based on focus */
#workspaces button {
    color: #777777;
    padding: 0;
    border-radius: 5px;
}
#workspaces button.urgent {
    color: #FF16B0;
}
#workspaces button.active {
    color: #FFFFFF;
}

/* individual children within the left and right groups
 * TODO: if I can make this "all left and right children" via css selectors, thatd be good */
#clock,
#date,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#workspaces,
#mpd
{
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
}

#clock.time {
    color: #B3F361;
}
#clock.date {
    color: #FFEA16;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* the jankiest hack.
 * 100 is one char wider than 99, but it turns out that if I remove the
 * side padding it'll still make it the same width still */
#backlight.full,
#pulseaudio.full {
    padding: 5px 0;
}

#battery.critical:not(.charging) {
    background-color: #FF0000;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#idle_inhibitor {
    /* the active and inactive icons are diff widths, this hides that
     * fuckery */
    min-width: 15px; 
}

#idle_inhibitor:active {
    color: #FFEA16;
}

#language {
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}
