* {
    border: none;

    /* this will use inconsolata for text, but will fallback to
     * ttf-font-awesome for icons (which is desirable) */
    font-family: "Atkinson Hyperlegible Mono", ttf-font-awesome;

    /* adjust font-size value to your liking: */
    font-size: 12px;
}

window#waybar {
    background-color: black;
    color: white;
}

/* style workspaces to set colors based on focus */
#workspaces button {
    color: #777777;
    padding: 0;
}
#workspaces button.urgent {
    color: #FF16B0;
}
#workspaces button.active {
    color: white;
}

/* individual children within the left and right groups
 * TODO: if I can make this "all left and right children" via css selectors, thatd be good */
#clock,
#date,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#workspaces,
#mpd
{
    /* size of these widgets tends to decide the size of the whole bar, so control their padding+margin
     *
     * the sizes go from the top clockwise btw */
    padding: 2px 5px 5px 5px;
    margin: 0 5px 0 5px;
}

@keyframes blink {
    to {
        background-color: white;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #FF0000;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#idle_inhibitor {
    /* the active and inactive icons are diff widths, this hides that
     * fuckery */
    min-width: 15px; 
}

#idle_inhibitor:active {
    color: #FFEA16;
}

#language {
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}
