# vim: ft=toml

[user]
  email = {{ .git.email | quote }}
  name = almond Heil
  {{- if .git.gpg.enabled }}
  signingKey = {{ .git.gpg.signing_key }}
  {{- end }}
[color]
  ui = auto
[init]
  defaultBranch = main
{{- if .git.gpg.enabled }}
[gpg]
  program = gpg
[commit]
  gpgsign = true
{{- end }}
[core]
  editor = nvim
[alias]
  br = branch
  ci = commit --verbose
  co = checkout
  lg = log --oneline
  sd = diff --staged
  st = status
  tree = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
  ff = only
[push]
  autoSetupRemote = true
