[user]
  email = {{ .email | quote }}
  name = almond Heil
  {{- if .git_gpg }}
  signingKey = {{ .gpg_signing_key }}
  {{- end }}
[color]
  ui = auto
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
{{- if .git_gpg }}
[gpg]
  program = gpg
[commit]
  gpgsign = true
{{- end }}
[core]
  editor = vim
[alias]
  d = diff
  lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
  lga = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  s = status
  sd = diff --staged
  # custom script that does `git diff HASH~ HASH`, or `git diff HEAD~ HEAD` if you give no args
  cd = commit-diff
[pull]
  rebase = false
{{- if eq .system "mathlan" }}
[safe]
  directory = *
{{- end }}
