[user]
	email = {{ .email | quote }}
	name = almond Heil
  {{- if .ssh_gpg }}
	signingKey = E8AA37A78E5561F0
  {{- end }}
[color]
	ui = auto
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if .ssh_gpg }}
[gpg]
	program = gpg
[commit]
	gpgsign = true
{{- end }}
[core]
	editor = vim
[alias]
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate=full
[pull]
	rebase = false
